<ion-content [fullscreen]="true" *ngIf="store.state | async as state">
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Productos</ion-title>
  </ion-toolbar>
  <div *ngIf="state.loading">cargando...</div>
  <ion-list *ngIf="!state.loading">
    <ion-item *ngFor="let producto of state.productos; let i = index">
      <ion-avatar slot="start">
        <img [src]="'http://localhost:3000/productos/' + producto.imagen" />
      </ion-avatar>
      <ion-label>
        <h2>{{ producto.nombre }}</h2>
        <h3>{{ producto.descripcion }}</h3>
      </ion-label>
      <ion-icon
        slot="end"
        name="create-outline"
        color="primary"
        [routerLink]="'/updateProducto/' + producto.id"
      ></ion-icon>
      <ion-icon
        slot="end"
        name="trash-outline"
        color="danger"
        (click)="deleteProdutoAlert(producto.id, i)"
      ></ion-icon>
    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/addProductos">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
