<ion-content [fullscreen]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home/cajas"></ion-back-button>
    </ion-buttons>
    <ion-title>Agregar Caja</ion-title>
  </ion-toolbar>
  <form #formcaja="ngForm" (ngSubmit)="addCaja(formcaja)">
    <ion-item>
      <ion-label>Fecha</ion-label>
      <ion-datetime
        [pickerOptions]="options"
        [monthShortNames]="meses"
        [(ngModel)]="fecha"
        name="fecha"
        [min]="fecha"
      ></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Base</ion-label>
      <ion-input
        name="base"
        [(ngModel)]="caja.base"
        type="number"
        required
      ></ion-input>
    </ion-item>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-button type="submit">
        <ion-icon name="add"></ion-icon>
        agregar
      </ion-button>
    </ion-fab>
  </form>
</ion-content>
